:root {
    --main-color: #0D40D9;
    --accent-color: #0B8AD9;
    --light-color: #04C4D9;
    --dark-color: #0A31A6;
    --green-color: #11D957;
    --border-color: #550B8E;
    --white-color: #FFFFFF;

    --bold-header: bold medium sans-serif;
    --header: medium sans-serif;
    --bold-text: bold small sans-serif;
    --text: small sans-serif;
    --small-text : x-small sans-serif;
}


.main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 5% 1fr 8%;
    grid-template-columns: 20% 1fr 20%;
    grid-gap: 0;
}

.header{
    grid-column: 1 / 4;
    grid-row: 1;
    padding: 0.5% 0.5% 0.5% 2%;
    background: linear-gradient(to top,var(--light-color) -10%,var(--green-color));
    color: var(--dark-color);
    font: var(--header);
}

.footer{
    grid-column: 1 / 4;
    grid-row: 3;
    padding: 0.5% 0.5% 0.5% 2%;
    background: linear-gradient(to top, var(--dark-color) 30%, var(--main-color));
    color: var(--white-color);
}

.center-area{
    position: relative;
    background: linear-gradient(to top, var(--light-color), var(--white-color));
    color: var(--dark-color);
    font: var(--header);
}

.send-form{
    height: 7%;
    display: grid;
    grid-template-rows: 0 60% 0;
    grid-template-columns: 0 74% 23%;
    grid-gap: 1%;
    grid-row-gap: 20%;
}

.send-field{
    float: left;
    grid-row: 2;
    grid-column: 2 / 3;
    border-radius: 500em;
    resize: none;
    background: var(--white-color);
    border: none;
}

.send-button{
    grid-row: 2;
    grid-column: 3 / 4;
    border-radius: 500em;
    background: var(--green-color);
    color: var(--white-color);
    border: none;
    box-shadow: 0 0.2rem 0.5rem var(--dark-color);;
}

.side-area{
    background-color: var(--accent-color);
}

.side-header{
    padding-top: 5%;
    text-align: center;
    color: var(--white-color);
    font: var(--bold-header);
    width: 100%;
    height: 12%;
    background: var(--dark-color);
}

.filters-grid{
    display: grid;
    height: 88%;
    grid-template-rows: 0 2% 5% 2% 5% 2% 5% 2%;
    grid-template-columns: 0 98% 0;
    grid-row-gap: 10%;
    grid-gap: 2%;
}

.name-label{
    grid-row: 2;
    grid-column: 2 / 3;
    color: var(--white-color);
    font: var(--text);
}

.name-field{
    grid-row: 3;
    grid-column: 2 / 3;
    border-radius: 500em;
    resize: none;
    background: var(--white-color);
    border: none;
}

.date-label{
    grid-row: 4;
    grid-column: 2 / 3;
    color: var(--white-color);
    font: var(--text);
}

.date-field{
    grid-row: 5;
    grid-column: 2 / 3;
    border-radius: 500em;
    resize: none;
    background: var(--white-color);
    border: none;
}

.content-label{
    grid-row: 6;
    grid-column: 2 / 3;
    color: var(--white-color);
    font: var(--text);
}

.content-field{
    grid-row: 7;
    grid-column: 2 / 3;
    border-radius: 500em;
    resize: none;
    background: var(--white-color);
    border: none;
}

.user-list{
    width: 100%;
    height: 88%;
    overflow-y: auto;
}

.user-point{
    height: 12%;
    width: 100%;
    background: linear-gradient(to top,transparent -30%,var(--light-color));
    border: none;
    color: var(--white-color);
    font: var(--header);
}

.load-area{
    height: 3%;
    text-align: center;
    padding-top: 0.1rem;
}

.sup-button{
    /*grid-row: 2;
    grid-column: 3 / 4;*/
    border-radius: 500em;
    background: var(--main-color);
    color: var(--white-color);
    border: none;
    box-shadow: 0 0.2rem 0.5rem var(--dark-color);
}

.message-list{
    height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.in-message-body{
    align-self: flex-start;

    margin-left: 0.5%;
    margin-top: 0.5%;
    height: max(8%, auto);

    padding: 0.2% 2% 0.2% 0.2%;

    border-radius: 0 500em 500em 0;
    background: var(--accent-color);
    color: var(--white-color);
}

.in-personal-message-body{
    align-self: flex-start;

    margin-left: 0.5%;
    margin-top: 0.5%;
    height: max(8%, auto);

    padding: 0.2% 2% 0.2% 0.2%;

    border-radius: 0 500em 500em 0;
    border: 2px solid var(--border-color);
    background: var(--accent-color);
    color: var(--white-color);
}

.out-message-body{
    align-self: flex-end;

    margin-top: 0.5%;
    margin-right: 0.5%;
    height: max(8%, auto);

    padding: 0.2% 0.2% 0.2% 2%;

    border-radius: 500em 0 0 500em;
    background: var(--green-color);
    color: var(--white-color);
}

.out-personal-message-body{
    align-self: flex-end;

    margin-top: 0.5%;
    margin-right: 0.5%;
    height: max(8%, auto);

    padding: 0.2% 0.2% 0.2% 2%;

    border-radius: 500em 0 0 500em;
    border: 2px solid var(--main-color);
    background: var(--green-color);
    color: var(--white-color);
}

.message-header{
    font: var(--bold-text);
    margin: 0;
}

.message-text{
    font: var(--text);
    margin: 0;
}

.date-text{
    font: var(--small-text);
    float: right;
    margin-bottom: 0;
}

.in-appeal{
    font: var(--bold-text);
    color: var(--border-color);
}

.out-appeal{
    font: var(--bold-text);
    color: var(--main-color);
}

.delete-button{
    background: none;
    border: none;
    float: right;
    margin-bottom: 0;
    color: var(--white-color);
}

.redact-button{
    background: none;
    border: none;
    float: right;
    margin-bottom: 0;
    color: var(--main-color);
}

.exit-button{
    background: none;
    border: none;
    color: var(--dark-color);
    float: right;
    margin: 0.5% 4% 0.5% 0.5%;
}

.info{
    width: 20%;
    height: 100%;
    float: right;
}